@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    --azul: rgb(56, 102, 242);
    --blanco: rgb(255, 255, 255);
    --gris: rgb(221, 221, 221);
    --negro: rgb(0, 0, 0);
    --verdeOscuro: rgb(15, 54, 45);
    --verdeClaro: rgb(36, 99, 85);
    --verdeAgua: rgb(54, 150, 129);
    --verdeHeader: rgb(17, 96, 0);
    --grisHeader: #7c7c7c;
}

body{
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,5,86,1) 34%, rgba(9,9,121,1) 53%, rgba(0,153,184,1) 100%);
    background-position: 0 0,40px 40px;
    display:flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 100px;
    padding: 0px 50px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grisHeader);
}

header h1{
    font-weight: 700;
    font-size: 40px;
    color:var(--blanco);
}

header nav{
    display:inherit;
    justify-content: space-around;
    width: 500px;
}

header nav a{
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    color:var(--negro);
}

header nav i{
    font-size: 22px;
}

header nav a:hover, i:hover{
    color: var(--blanco);
    cursor: pointer;
}

footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: bottom;
    margin-top: 30px;
    margin-bottom: 15px;
}

footer p{
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-align: center;
}

.hidden{
    display:none;
}